<div class="mb-5">
  <back-btn (onClick)="goBack('operator')"></back-btn>
</div>
<div class="main-body">
  <span class="title-card mb-5">{{ operatorId ? "Editar" : "Adicionar" }}</span>
  <section class="content-body">
    <span class="title-card mb-5">Informações</span>

    <form [formGroup]="registerOperatorForm" class="grid grid-cols-3 gap-3">
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
    </form>
  </section>

  <div class="flex justify-center mt-5">
    <button (click)="sendForm()" class="btn blue">Enviar</button>
  </div>
</div>
