<form [formGroup]="loginForm" class="">
  <div class="mb-7">
    <form-field
      [setStyle]="{
        width: '100%',
        'min-width': '300px',
      }"
    >
      <input
        mask="000.000.000-00"
        type="text"
        customInput
        formControlName="cpf"
      />
      <label>CPF</label>
    </form-field>
  </div>
  <div>
    <form-field
      [setStyle]="{
        width: '100%',
        'min-width': '300px',
        'background-color': 'var(--white-smoke)'
      }"
    >
      <input
        customInput
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
      />
      <label>Senha</label>
      <button class="button-password" (click)="changePasswordVisibility()">
        <mat-icon class="mt-1 mr-2">{{
          showPassword ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
    </form-field>
  </div>
</form>
<div class="options-container">
  <mat-checkbox>Lembrar</mat-checkbox>
  <div><a>Esqueceu a senha?</a></div>
</div>
<button
  class="enter-button mt-5"
  [class.spinner]="isLoading"
  [disabled]="isLoading"
  (click)="access()"
>
  Entrar
</button>
