.video-card {
  background: white;
  border-radius: 20px;
  max-height: 800px;
  width: 50%;
  border: solid 2px rgb(231, 236, 238);

  iframe {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 50%;
  }
}
