<section class="dialog-header flex items-center justify-between">
  <div>
    <span class="mb-5">
      <h1>{{ videosId ? "Editar video" : "Adicionar video" }}</h1>
    </span>
  </div>

  <div>
    <img
      mat-dialog-close
      class="icon-btn"
      src="../../assets/svgs/close.svg"
      alt=""
    />
  </div>
</section>
<main mat-dialog-content class="main-body">
  <section>
    <div class="mb-3 video-container flex justify-center">
      <div class="video-card">
        <iframe
          [src]="getEmbedLink(linkControl.value) | safe : 'resourceUrl'"
          frameborder="0"
        ></iframe>
        <div class="mt-3">
          <form-field
            [setStyle]="{
              width: '100%',
              'min-width': '300px',
              background: 'white'
            }"
          >
            <input type="text" customInput [formControl]="linkControl" />
            <label>Link do vídeo</label>
          </form-field>
        </div>
      </div>
    </div>
    <form [formGroup]="registerVideoForm" class="grid grid-cols-1">
      <div class="mb-3">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
          }"
        >
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="descricao" />
          <label>descricao</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select type="number" customInput formControlName="category">
            @for (category of categories; track $index) {
            <option [value]="category.id">{{ category.nome }}</option>

            }
          </select>
          <label>Categorias</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select type="number" customInput formControlName="campaing">
            @for (campaing of campaings; track $index) {
            <option [value]="campaing.id">{{ campaing.nome }}</option>
            }
          </select>
          <label>Campanhas</label>
        </form-field>
      </div>
    </form>
  </section>
</main>
<section class="dialog-footer flex justify-end">
  <div class="flex justify-center mr-3">
    <button mat-dialog-close class="btn white">Cancelar</button>
  </div>
  <div class="flex justify-centers">
    <button (click)="sendForm()" class="btn blue-btn">Salvar</button>
  </div>
</section>
