<div class="flex justify-end mb-2">
  <button class="btn white" (click)="showFilters = !showFilters">
    <img class="icon-btn mr-2" [src]="'../../assets/svgs/circle.svg'" />Filtros
  </button>
  <button
    *ngxPermissionsOnly="['ADMIN']"
    class="btn blue ml-2"
    (click)="register()"
  >
    <img class="icon-btn mr-2" [src]="'../../assets/svgs/add.svg'" />Adicionar
  </button>
</div>
<mat-expansion-panel class="mat-elevation-z0" [expanded]="showFilters">
  <section class="flex justify-center mb-5 w-12/12 pt-10">
    <div>
      <filter
        [setControls]="filterControls"
        (emitFilterValue)="submitFilters($event)"
        (emitClearFilter)="clearFilters($event)"
      ></filter>
    </div>
  </section>
</mat-expansion-panel>
<main class="p-10">
  <div class="title mb-5">
    <h1>Imagens</h1>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <section>
    <div class="grid grid-3 gap-7 md:grid-cols-md-1">
      @for (image of images; track $index) {
      <div class="image-card">
        <div class="img-container">
          <div (click)="viewImage(image.imageRelativePath)" class="expand-icon">
            <div>
              <mat-icon>zoom_out_map</mat-icon>
            </div>
          </div>
          <img [src]="image.imageRelativePath" />
        </div>
        <div class="img-info-container">
          <div>
            <h1 class="image-title">{{ image.descricao }}</h1>
            <section class="flex justify-between">
              <div>
                <p class="image-info"><b>Nome</b>: {{ image.nome }}</p>
                <p class="image-info">
                  <b>Produto</b>: {{ image.product.nome }}
                </p>
                <p class="image-info">
                  <b>Operadoras</b>: {{ image.operator.nome }}
                </p>
              </div>
              <div>
                <p class="image-info"><b>Estado</b>: {{ image.uf }}</p>
                <p class="image-info"><b>Cidade</b>: {{ image.cidade }}</p>
                <p class="image-info"><b>Adesão</b>: {{ image.adesao }}</p>
              </div>
            </section>
          </div>
          <div *ngxPermissionsOnly="'ADMIN'" class="flex w-12/12 my-2 gap-2">
            <div class="w-4/12 flex justify-start">
              <button class="btn green w-40" (click)="edit(image.id)">
                <div class="mr-3">
                  <img class="icon-btn" [src]="'../../assets/svgs/edit.svg'" />
                </div>
                Editar
              </button>
            </div>
            <div class="w-4/12 flex justify-center">
              <button class="btn white w-40" (click)="downloadImg(image)">
                <div class="mr-1">
                  <mat-icon>download</mat-icon>
                </div>
                Download
              </button>
            </div>
            <div class="w-4/12 flex justify-end">
              <button class="btn red w-40" (click)="delete(image.id)">
                <div class="mr-3">
                  <img
                    class="icon-btn"
                    [src]="'../../assets/svgs/delete.svg'"
                  />
                </div>
                Excluir
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
  <paginator
    #paginator
    [pageSize]="pagination.pageCount"
    [pageOptions]="{ pageIndex: 1, listLength: itemsCount }"
    (onPageChange)="changePage($event)"
  ></paginator>
</main>
