.auth-card {
  width: 100%;
  max-width: 464px;
  max-height: 663px;
  margin-left: auto;
  margin-right: auto;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px;
  background-color: white;
  border-radius: 10px;

  .auth-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 0;
      padding: 0;
      color: #303030;
      font-size: 2.8rem;
    }
    p {
      opacity: 0.7;
      font-size: 0.875rem;
    }
  }

  .img-container {
    img {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .auth-card {
    transform: scale(0.75);
  }
}
