.auth-card {
  width: 100%;
  min-width: 464px;
  max-width: 464px;
  max-height: 663px;
  height: 60vh;
  padding: 44px;
  background-color: white;
  border-radius: 10px;

  .img-container {
    img {
      width: 60%;
    }
  }
}
