.auth-card {
  width: 100%;
  min-width: 410px;
  max-width: 410px;
  margin-left: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  background-color: var(--white-smoke);
  border-radius: 6px;
}
