<div class="flex justify-end mb-2">
  <button class="btn white" (click)="showFilters = !showFilters">
    <img class="icon-btn mr-2" [src]="'../../assets/svgs/circle.svg'" />Filtros
  </button>
  <button
    *ngxPermissionsOnly="['ADMIN']"
    class="btn blue ml-2"
    (click)="register()"
  >
    <img class="icon-btn mr-2" [src]="'../../assets/svgs/add.svg'" />Adicionar
  </button>
</div>
<mat-expansion-panel class="mat-elevation-z0" [expanded]="showFilters">
  <section class="flex justify-center mb-5 w-12/12 pt-10">
    <div>
      <filter
        [setControls]="filterControls"
        (emitFilterValue)="submitFilters($event)"
        (emitClearFilter)="clearFilters($event)"
      ></filter>
    </div>
  </section>
</mat-expansion-panel>
<main class="p-10">
  <div class="title mb-5">
    <h1>Videos</h1>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="grid grid-cols-3 gap-7">
    @for (video of videos; track $index) {
    <div class="video-card">
      <iframe
        [src]="video.link | safe : 'resourceUrl'"
        [title]="video.descricao"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="video-info-container">
        <div>
          <h1 class="video-title">{{ video.descricao }}</h1>
          <section class="flex justify-between">
            <div>
              <p class="video-info"><b>Nome</b>: {{ video.nome }}</p>
              <p class="video-info"><b>Produto</b>: {{ video.product.nome }}</p>
              <p class="video-info"><b>Adesão</b>: {{ video.adesao }}</p>
            </div>
            <div>
              <p class="video-info"><b>Cidade</b>: {{ video.cidade }}</p>
              <p class="video-info"><b>Estado</b>: {{ video.uf }}</p>
            </div>
          </section>
        </div>
        <div *ngxPermissionsOnly="'ADMIN'" class="flex w-12/12 my-2">
          <div class="flex justify-start w-6/12">
            <button class="btn green w-40" (click)="edit(video.id)">
              <div class="mr-3">
                <img class="icon-btn" [src]="'../../assets/svgs/edit.svg'" />
              </div>
              editar
            </button>
          </div>
          <div class="flex justify-end w-6/12">
            <button class="btn red w-40" (click)="delete(video.id)">
              <div class="mr-3">
                <img class="icon-btn" [src]="'../../assets/svgs/delete.svg'" />
              </div>
              Excluir
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <paginator
    #paginator
    [pageSize]="pagination.pageCount"
    [pageOptions]="{ pageIndex: 1, listLength: itemsCount }"
    (onPageChange)="changePage($event)"
  ></paginator>
</main>
