<main class="main-body">
  <section class="flex justify-center mb-5">
    <div>
      <filter
        [setControls]="filterControls"
        (emitFilterValue)="submitFilters($event)"
        (emitClearFilter)="clearFilters($event)"
      ></filter>
    </div>
  </section>
  <div class="flex justify-end mb-2">
    <button class="btn green" (click)="navigateTo('register')">
      Cadastrar
    </button>
  </div>
  <section class="content-body mt-5">
    <div class="grid grid-cols-3 gap-3">
      @for (video of videos; track $index) {
      <div class="video-card">
        <iframe
          [src]="video.link | safe : 'resourceUrl'"
          [title]="video.descricao"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <div class="video-info my-5">Título: {{ video.descricao }}</div>
        <div class="video-info my-5">Nome: {{ video.nome }}</div>
        <div class="video-info my-5">Categoria: {{ video.category.nome }}</div>
        <div class="video-info my-5">Campanha: {{ video.campaing.nome }}</div>
        <div class="mt-4 grid grid-cols-2 gap-4 justify-center">
          <button class="btn green" (click)="navigateTo('edit', video.id)">
            Editar <mat-icon class="ml-3">edit</mat-icon>
          </button>
          <button class="btn red" (click)="delete(video.id)">
            Excluir <mat-icon class="ml-3">delete</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </section>
</main>
