<main class="main-body">
  <div class="title-card">Videos</div>
  <section class="flex justify-end mb-5">
    <button class="btn green" (click)="navigateTo('register')">
      Cadastrar
    </button>
  </section>
  <section class="content-body mt-5">
    <div class="grid grid-cols-3 gap-3">
      @for (video of videos; track $index) {
      <div class="video-card">
        <iframe
          [src]="video.src | safe : 'resourceUrl'"
          [title]="video.title"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <div class="video-info my-5">Título: {{ video.title }}</div>
        <div class="video-info my-5">Nome: {{ video.nome }}</div>
      </div>
      }
    </div>
  </section>
</main>
