<main class="app-body">
  <app-header></app-header>
  <section
    *ngIf="sidebarAllowed"
    #aside
    class="sidenav"
    (mouseover)="mouseEnter()"
    (mouseout)="mouseExit()"
    [ngClass]="isExpanded ? 'open' : 'closed'"
  >
    <app-aside
      [isExpanded]="isExpanded"
      [isShown]="isPropertiesShown"
      #sidenav
    ></app-aside>
  </section>

  <body
    [ngClass]="isExpanded ? 'open' : 'closed'"
    class="app-content"
    [class.nomargin]="!sidebarAllowed"
    [class.loading]="isLoading"
  >
    <router-outlet></router-outlet>
  </body>
</main>
