.app-body {
  position: relative;
  height: 100vh;
  background-color: var(--gray);
}

.loading {
  opacity: 0.5;
  cursor: wait;
}

.app-content {
  background-color: var(--gray);
  position: absolute;
  overflow-x: scroll;
  height: calc(100% - 225px) !important;
  padding: 5% 1.5% 5% 1.5% !important;

  &.open {
    width: calc(100% - 275px) !important;
    left: 275px;
    transition: all ease 0.3s;
  }
  &.closed {
    width: calc(100% - 70px) !important;
    left: 70px !important;
    transition: all ease 0.3s;
  }
}

.app-header {
  height: 225px;
  box-shadow: 20px 0px 9px 0px rgba(0, 0, 0, 0.02);
  background: transparent;
  position: relative;
  &.open {
    width: calc(100% - 275px);
    left: 275px;
    transition: all ease 0.3s;
  }
  &.closed {
    width: calc(100% - 70px);
    left: 70px !important;
    transition: all ease 0.3s;
  }
}

.sidenav {
  height: 100vh;
  top: 0;
  background-color: white;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  box-shadow: 20px 0px 9px 0px rgba(0, 0, 0, 0.02);
  .menu {
    width: 100%;
  }

  .menu-btn {
    height: 100vh;
    right: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 30px;
    background-color: var(--light-blue);
    cursor: pointer;
    position: absolute;
    transition: all ease 0.2s;

    &:hover {
      background-color: rgb(14, 155, 206);
      transition: all ease 0.2s;
    }
  }

  &.open {
    transition: all ease 0.3s;
  }
  &.closed {
    transition: all ease 0.3s;
  }
}

@media screen and (max-width: 800px) {
  .app-content {
    width: calc(100% - 70px) !important;
    overflow-x: scroll;

    &.open {
      width: calc(100% - 70px) !important;
      left: 70px;
      transition: all ease 0.3s;
    }
    &.closed {
      width: calc(100% - 70px) !important;
      transition: all ease 0.3s;
      left: 70px;
    }
  }
  .app-header {
    box-shadow: 20px 0px 9px 0px rgba(0, 0, 0, 0.02);
    background: transparent;

    &.open {
      width: calc(100% - 70px) !important;
      left: 70px !important;
      transition: all ease 0.3s;
    }
    &.closed {
      width: calc(100% - 70px) !important;
      left: 70px !important;
      transition: all ease 0.3s;
    }
  }
}
