.app-body {
  position: relative;
}

.app-content {
  opacity: 1;
}

.loading {
  opacity: 0.5;
  cursor: wait;
  // background-color: red;
}

.double-arrow {
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0) invert(1);

  &:hover {
    filter: brightness(0.8) invert(0.5) sepia(1) saturate(240%);
  }

  &.open {
    transition: all ease 0.5s;
  }

  &.closed {
    transition: all ease 0.5s;
    transform: rotate(180deg);
    filter: brightness(1) invert(0.5) sepia(1) saturate(240%);
  }
}

.app-content {
  width: calc(100% - 70px);
  overflow-x: hidden;
  position: absolute;
  height: calc(100vh - 100px);
  &.open {
    width: calc(100% - 350px);
    margin-left: 350px;
    transition: all ease 0.3s;
  }
  &.closed {
    // width: calc(100% - 70px);
    // margin-left: 70px !important;
    width: 100%;
    margin-left: 0px !important;
    transition: all ease 0.3s;
  }

  &.nomargin {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.sidenav {
  height: calc(100vh - 100px);
  // background-color: #ced2d6;
  background: transparent;
  position: absolute;
  z-index: 100;
  width: 350px;
  padding: 8px;

  &.open {
    transition: all ease 0.3s;
  }
  &.closed {
    transition: all ease 0.3s;
  }
}

.app-content {
  padding: 3% 1.5% 5% 1.5%;
}
