<main class="app-body">
  <app-header></app-header>
  <section
    #aside
    class="sidenav"
    (mouseover)="mouseEnter()"
    (mouseout)="mouseExit()"
    [ngClass]="isExpanded ? 'open' : 'closed'"
  >
    <div class="menu">
      <app-aside
        [isExpanded]="isExpanded"
        [isShown]="isPropertiesShown"
        #sidenav
      ></app-aside>
    </div>
    <div class="flex justify-center">
      <button class="btn" (click)="logout()">Logout</button>
    </div>
  </section>

  <body
    [ngClass]="isExpanded ? 'open' : 'closed'"
    class="app-content"
    [class.nomargin]="!sidebarAllowed"
    [class.loading]="isLoading"
  >
    <router-outlet></router-outlet>
  </body>
</main>
