.app-body {
  position: relative;
}

.app-content {
  opacity: 1;
}

.loading {
  opacity: 0.5;
  cursor: wait;
  // background-color: red;
}

.app-content {
  width: calc(100% - 85px);
  overflow-x: hidden;
  position: absolute;
  height: calc(100vh - 100px);
  &.open {
    width: calc(100% - 385px);
    margin-left: 385px;
    transition: all ease 0.3s;
  }
  &.closed {
    width: calc(100% - 85px);
    margin-left: 85px !important;
    transition: all ease 0.3s;
  }
}

.sidenav {
  height: calc(100vh - 100px);
  background-color: azure;
  position: absolute;
  z-index: 100;
  width: 350px;

  .menu {
    width: 100%;
  }

  .menu-btn {
    height: 100%;
    right: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 30px;
    background-color: rgb(10, 133, 178);
    cursor: pointer;
    position: absolute;
    transition: all ease 0.2s;

    &:hover {
      background-color: rgb(14, 155, 206);
      transition: all ease 0.2s;

      .double-arrow {
        color: white;
      }
    }
    .double-arrow {
      &.open {
        transition: all ease 0.2s;
      }

      &.closed {
        transition: all ease 0.2s;
        transform: rotate(180deg);
      }
    }
  }

  &.open {
    transition: all ease 0.3s;
  }
  &.closed {
    transition: all ease 0.3s;
  }
}

.app-content {
  padding: 3% 1.5% 5% 1.5%;
}
