main {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/backgrounds/health_bg.jpg");
  justify-content: space-between;
  background-color: #161616;
  background-repeat: no-repeat;
  background-size: cover;
}
