main {
  width: 100vw;
  height: 100vh;
  background: var(--gray-blue);

  justify-content: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}
