<div class="mb-5">
  <back-btn (onClick)="goBack('files')"></back-btn>
</div>
<div class="main-body">
  <span class="title-card mb-5">{{ fileId ? "Editar" : "Cadastrar" }}</span>
  <section class="content-body">
    <span class="title-card mb-5">Informações</span>
    <div class="mb-3 video-container flex justify-center"></div>
    <form [formGroup]="registerFileForm" class="grid grid-cols-3 gap-3">
      <div class="">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
            background: 'white'
          }"
        >
          <input
            #fileInput
            type="file"
            accept=".pdf"
            (change)="processFile(fileInput)"
            customInput
            [formControl]="fileControl"
          />
          <label>Image Input</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
          }"
        >
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="descricao" />
          <label>descricao</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
          }"
        >
          <input type="text" customInput formControlName="tipo" />
          <label>Tipo</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select type="number" customInput formControlName="category">
            @for (category of categories; track $index) {
            <option [value]="category.id">{{ category.nome }}</option>

            }
          </select>
          <label>Categorias</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="operator">
            @for (operator of operators; track $index) {
            <option [value]="operator.id">{{ operator.nome }}</option>
            }
          </select>
          <label>Operadoras</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="uf">
            @for (state of states; track $index) {
            <option [value]="state.sigla">{{ state.nome }}</option>
            }
          </select>
          <label>UF</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="adesao">
            @for (adhesion of adhesions; track $index) {
            <option [value]="adhesion.value">{{ adhesion.nome }}</option>
            }
          </select>
          <label>Adesão</label>
        </form-field>
      </div>
    </form>
  </section>

  <div class="flex justify-center mt-5">
    <button (click)="sendForm()" class="btn green">Enviar</button>
  </div>
</div>
