<section class="dialog-header flex items-center justify-between">
  <div>
    <span class="mb-5">
      <h1>{{ fileId ? "Editar arquivo" : "Adicionar arquivo" }}</h1>
    </span>
  </div>

  <div>
    <img
      mat-dialog-close
      class="icon-btn"
      src="../../assets/svgs/close.svg"
      alt=""
    />
  </div>
</section>
<main mat-dialog-content class="main-body">
  <section>
    <form [formGroup]="registerFileForm" class="grid grid-cols-1">
      <div class="">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
            background: 'white'
          }"
        >
          <input
            #fileInput
            type="file"
            accept=".pdf"
            (change)="processFile(fileInput.files[0])"
            customInput
            [formControl]="fileControl"
          />
          <label>Arquivo Input</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
          }"
        >
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="descricao" />
          <label>descricao</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
          }"
        >
          <input type="text" customInput formControlName="tipo" />
          <label>Tipo</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select type="number" customInput formControlName="category">
            @for (category of categories; track $index) {
            <option [value]="category.id">{{ category.nome }}</option>

            }
          </select>
          <label>Categorias</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="operator">
            @for (operator of operators; track $index) {
            <option [value]="operator.id">{{ operator.nome }}</option>
            }
          </select>
          <label>Operadoras</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="uf">
            @for (state of states; track $index) {
            <option [value]="state.sigla">{{ state.nome }}</option>
            }
          </select>
          <label>UF</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="adesao">
            @for (adhesion of adhesions; track $index) {
            <option [value]="adhesion.value">{{ adhesion.nome }}</option>
            }
          </select>
          <label>Adesão</label>
        </form-field>
      </div>
    </form>
  </section>
</main>
<section class="dialog-footer flex justify-end">
  <div class="flex justify-center mr-3">
    <button mat-dialog-close class="btn white">Cancelar</button>
  </div>
  <div class="flex justify-centers">
    <button (click)="sendForm()" class="btn blue-btn">Salvar</button>
  </div>
</section>
