<section class="dialog-header flex items-center justify-between">
  <div>
    <span class="mb-5">
      <h1>{{ userId ? "Editar usuário" : "Adicionar usuário" }}</h1>
    </span>
  </div>

  <div>
    <img
      mat-dialog-close
      class="icon-btn"
      src="../../assets/svgs/close.svg"
      alt=""
    />
  </div>
</section>
<main mat-dialog-content class="main-body">
  <section>
    <form [formGroup]="registerUserForm" class="grid grid-cols-1">
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="sobrenome" />
          <label>Sobrenome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="email" />
          <label>E-mail</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input
            mask="000.000.000-00"
            type="text"
            customInput
            formControlName="cpf"
          />
          <label>CPF</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="senha" />
          <label>senha</label>
        </form-field>
      </div>
      <form-field>
        <select customInput formControlName="perms">
          <option [value]="'ADMIN'">Admnistrador</option>
          <option [value]="'USER'">Usuário</option>
        </select>
        <label>Permsissões</label>
      </form-field>
    </form>
  </section>

  <section class="content-body mt-5">
    <div class="modules-container">
      <div class="module-area" *ngFor="let module of modules">
        <input
          class="module-check"
          type="checkbox"
          [checked]="module.active"
          [value]="module.id"
          (change)="moduleSelected($event.target.checked, module.id)"
        />
        <div class="card-module-info-body">
          <div class="module-card">
            <div class="module-content">
              <mat-icon>{{ module.icon }}</mat-icon>
              <h3 class="module-title">{{ module.label }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<section class="dialog-footer flex justify-end">
  <div class="flex justify-center mr-3">
    <button mat-dialog-close class="btn white">Cancelar</button>
  </div>
  <div class="flex justify-centers">
    <button (click)="sendForm()" class="btn blue-btn">Salvar</button>
  </div>
</section>
