<form [formGroup]="passwordForm" class="w-4/12 grid grid-cols-1">
  <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
    <input
      customInput
      [type]="showPassword ? 'text' : 'password'"
      formControlName="newPassword"
      autocomplete="on"
    />
    <label>Nova senha</label>
    <button class="button-password" (click)="showPassword = !showPassword">
      <mat-icon class="mt-1 mr-2">{{
        showPassword ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
  </form-field>

  <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
    <input
      customInput
      [type]="showConfirmPassword ? 'text' : 'password'"
      formControlName="confirmPassword"
      autocomplete="on"
    />
    <label>Confirmar senha</label>
    <button
      class="button-password"
      (click)="showConfirmPassword = !showConfirmPassword"
    >
      <mat-icon class="mt-1 mr-2">{{
        showConfirmPassword ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
  </form-field>
</form>
<section class="flex justify-start my-5">
  <div class="">
    <button (click)="changePassword()" class="btn blue">Alterar senha</button>
  </div>
</section>
