<section class="dialog-header flex items-center justify-between">
  <div>
    <span class="mb-5">
      <h1>{{ imagesId ? "Editar imagem" : "Adicionar imagem" }}</h1>
    </span>
  </div>

  <div>
    <img
      mat-dialog-close
      class="icon-btn"
      src="../../assets/svgs/close.svg"
      alt=""
    />
  </div>
</section>
<main mat-dialog-content class="main-body">
  <section>
    <div class="mb-3 img-container flex justify-center">
      <label class="picture" for="picture__input" tabIndex="0">
        @if(imageSrc){

        <img [src]="imageSrc" />
        }@else {

        <span>Adicionar foto</span>
        }
      </label>
      <input
        type="file"
        #imageInput
        accept="image/*"
        (change)="processFile(imageInput.files[0])"
        customInput
        [formControl]="imageControl"
        name="picture__input"
        id="picture__input"
      />
    </div>
    <form [formGroup]="registerImageForm" class="grid grid-cols-1">
      <div class="mb-3">
        <form-field
          [setStyle]="{
            width: '100%',
            'min-width': '300px',
          }"
        >
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="cidade" />
          <label>Cidade</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="descricao" />
          <label>Descrição</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="product">
            @for (product of products; track $index) {
            <option [value]="product.id">{{ product.nome }}</option>

            }
          </select>
          <label>Produtos</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="campaing">
            @for (campaing of campaings; track $index) {
            <option [value]="campaing.id">{{ campaing.nome }}</option>
            }
          </select>
          <label>Campanhas</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="operator">
            @for (operator of operators; track $index) {
            <option [value]="operator.id">{{ operator.nome }}</option>
            }
          </select>
          <label>Operadoras</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="uf">
            @for (state of states; track $index) {
            <option [value]="state.sigla">{{ state.nome }}</option>
            }
          </select>
          <label>UF</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="adesao">
            @for (adhesion of adhesions; track $index) {
            <option [value]="adhesion.value">{{ adhesion.nome }}</option>
            }
          </select>
          <label>Adesão</label>
        </form-field>
      </div>
    </form>
  </section>
</main>
<section class="dialog-footer flex justify-end">
  <div class="flex justify-center mr-3">
    <button mat-dialog-close class="btn white">Cancelar</button>
  </div>
  <div class="flex justify-centers">
    <button (click)="sendForm()" class="btn blue-btn">Salvar</button>
  </div>
</section>
