.top-bar {
  width: 100%;
  border-radius: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: white;
}
.icon-img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
header {
  height: 150px;
  display: flex;
  position: sticky;
  padding: 3% 1.5% 5% 1.5%;
  top: 0;
  justify-content: center;
  left: 100%;
  z-index: 100;
  align-items: center;
  background: transparent;
}
