<header>
  <nav class="top-bar">
    <div class="flex items-center mr-5">
      <img class="icon-img" [src]="'../../assets/svgs/circle.svg'" alt="" />
      <img
        class="icon-img"
        [src]="'../../assets/svgs/notification.svg'"
        alt=""
      />
      <img
        class="profile-img"
        [matMenuTriggerFor]="menu"
        [src]="'../../assets/svgs/man.svg'"
        alt=""
      />
      <mat-menu class="w-60" #menu="matMenu">
        <div class="user-name">{{ user.nome }}</div>
        <button (click)="goToProfile()" mat-menu-item>
          <mat-icon>account_circle</mat-icon> Perfil
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon> Sair
        </button>
      </mat-menu>
    </div>
  </nav>
  <section class="nav-container">
    @for (nav of breadCrumb; track $index) { @if (nav.link) {
    <a class="nav-link" routerLinkActive="active" [routerLink]="nav.link">{{
      nav.title
    }}</a>

    }@else{
    <a class="nav-link" routerLinkActive="active">{{ nav.title }}</a>

    }
    <span *ngIf="breadCrumb.length - 1 > $index" class="dash px-1"> / </span>
    }
  </section>
  <section class="welcome">
    <h1>Bem vindo, {{ user.nome }}👋</h1>
    <p>Aproveite a CapNegócios e melhore suas vendas</p>
  </section>
</header>
