<section class="dialog-header flex items-center justify-between">
  <div>
    <span class="mb-5">
      <h1>{{ campaingId ? "Editar campanha" : "Adicionar campanha" }}</h1>
    </span>
  </div>

  <div>
    <img
      mat-dialog-close
      class="icon-btn"
      src="../../assets/svgs/close.svg"
      alt=""
    />
  </div>
</section>
<main mat-dialog-content class="main-body">
  <section>
    <form [formGroup]="registerCampaingForm" class="grid grid-cols-1">
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="nome" />
          <label>Nome</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="text" customInput formControlName="descricao" />
          <label>descricao</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="date" customInput formControlName="dtinicio" />
          <label>Data de incio</label>
        </form-field>
      </div>
      <div class="mb-3">
        <form-field [setStyle]="{ width: '100%', 'min-width': '300px' }">
          <input type="date" customInput formControlName="dtfim" />
          <label>Data de fim</label>
        </form-field>
      </div>
      <div>
        <form-field>
          <select customInput formControlName="status">
            <option [value]="'ATIVO'">ATIVO</option>
            <option [value]="'INATIVO'">INATIVO</option>
          </select>
          <label>Status</label>
        </form-field>
      </div>
    </form>
  </section>
</main>
<section class="dialog-footer flex justify-end">
  <div class="flex justify-center mr-3">
    <button mat-dialog-close class="btn white">Cancelar</button>
  </div>
  <div class="flex justify-centers">
    <button (click)="sendForm()" class="btn blue-btn">Salvar</button>
  </div>
</section>
