.profile-body {
  background-color: #ffffff;
  width: 100%;
  min-width: 754px;
  margin-top: 20px;
  position: relative;
  height: auto;
  min-height: 100%;

  .form-container {
    border-left: 2px solid rgb(231, 236, 238);

    width: 75%;
    .profile-title {
      border-bottom: 2px solid rgb(231, 236, 238);
      width: 100%;
      h1 {
        padding: 0;
        margin: 0;
        font-size: 2rem;
      }
      p {
        opacity: 0.7;
        font-size: 0.875rem;
      }
    }
  }
  .user-info {
    width: 25%;
    height: 100%;
    .img-profile {
      width: 100px;
      margin-top: 50px;
      height: 80px;
    }
    h1 {
      margin: 0;
      padding: 0;
      color: #303030;
      font-size: 1.9rem;
    }
    p {
      opacity: 0.7;
      font-size: 0.875rem;
    }
  }
}

.main-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 54px;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
  transition: all ease 0.2s;
  white-space: nowrap;
  position: relative;

  span {
    color: var(--dark-gray);
    font-size: 15px;
    background: transparent;
    word-break: keep-all !important;
    word-wrap: nowrap !important;

    &.open {
      width: 100%;
      opacity: 1;
      transition: all ease 0.2s;
    }
    &.closed {
      opacity: 0;
      width: 0%;
      transition: all ease 0.2s;
    }
  }

  &.active {
    &::after {
      content: "";
      right: 0;
      position: absolute;
      width: 2px;
      background-color: var(--blue);
      height: 80%;
    }

    background-color: var(--white-blue);
    color: var(--blue);
  }

  &:hover {
    background-color: var(--white-blue);
    transition: all ease 0.2s;
    opacity: 0.9;
  }
}
