<main class="profile-body flex">
  <section class="user-info py-10 flex flex-col items-center justify-center">
    <img class="img-profile" [src]="'../../assets/svgs/man.svg'" alt="" />
    <h1>{{ user.nome }}</h1>
    <p>{{ user.email }}</p>
    <ul class="main-list mt-4">
      <li
        class="menu-item"
        [routerLink]="['/users/profile/edit']"
        [routerLinkActive]="'active'"
      >
        Editar perfil
      </li>
      <li
        class="menu-item"
        [routerLink]="['/users/profile/change-password']"
        [routerLinkActive]="'active'"
      >
        Alterar senha
      </li>
    </ul>
  </section>

  <section class="form-container flex flex-col p-10">
    <div class="profile-title mb-5">
      <h1>Perfil</h1>
      <p>Edite o perfil do usuário</p>
    </div>
    <router-outlet></router-outlet>
  </section>
</main>
