<edit-wrapper (onReturn)="voltar()" (onSave)="save()" [hideBottomSaveButton]="true" title="Cadastro de Usuário">
  <div class="form-container">
    <main>
      <form [formGroup]="userForm" class="grid grid-cols-2 gap-3 mb-3" [class.component-buzy]="loading">
        <form-field>
          <input
            required
            customInput
            formControlName="username"
            placeholder=" "
            [disabled]="disabledFields.includes('username') || ''"
          />
          <label for="">Usuário</label>
        </form-field>
    
        <form-field>
          <input required customInput formControlName="name" placeholder=" " />
          <label for="">Nome</label>
        </form-field>
        <form-field>
          <input
            required
            customInput
            mask="CPF_CNPJ"
            placeholder="000.000.000-00"
            formControlName="documentNumber"
            placeholder=" "
          />
          <label for="">CPF</label>
        </form-field>
    
        <form-field>
          <input required formControlName="costCenter" placeholder=" " />
          <label for="">Centro de custo</label>
        </form-field>
    
        <form-field>
          <input
            required
            customInput
            placeholder="example@gmail.com"
            formControlName="email"
            placeholder=" "
          />
    
          <label for="">E-mail</label>
        </form-field>
        <form-field>
          <input
            required
            customInput
            placeholder="(00) 00000-0000"
            formControlName="telephone"
            mask="(00) 00000-0000 || (00) 0000-0000"
            placeholder=" "
          />
          <label for="">Telefone</label>
        </form-field>
    
        <form-field>
          <select customInput class="select" required formControlName="status">
            <option [value]="'ACTIVE'">Ativo</option>
            <option [value]="'BLOCKED'">Bloqueado</option>
          </select>
          <label for="">Status</label>
        </form-field>
    
        <form-field>
          <select customInput class="select" required formControlName="role">
            <option [value]="userRoles.OWNER_CLIENT">GESTOR</option>
            <option [value]="userRoles.VIEWER">CONSULTA</option>
            <option [value]="userRoles.OPERATOR">OPERAÇÃO</option>
          </select>
          <label for="">Tipo de usuário</label>
        </form-field>
      </form>
      <div class="flex justify-center gap-3">
        <button
          type="button"
          class="mat-mdc-tooltip-trigger btn h-10 w-100"
          matTooltip="Salvar"
          (click)="save()"
        >
          Salvar
        </button>
        <ng-container *ngIf="userId && !canTypeNewPassword">
          <button
            type="button"
            class="mat-mdc-tooltip-trigger btn h-10 w-100 green"
            matTooltip="Gerar nova senha"
            (click)="newPassword()"
            *ngxPermissionsOnly="['MASTER']"
          >
            Enviar recuperação de senha
          </button>
        </ng-container>
        <ng-container *ngIf="userId && canTypeNewPassword">
          <button
            type="button"
            class="mat-mdc-tooltip-trigger btn h-10 w-100 green"
            matTooltip="Alterar senha"
            (click)="typeNewPassword()"
          >
            Alterar senha
          </button>
        </ng-container>
      </div>
    
      <p class="error-message">{{ error }}</p>
    </main>
  </div>
</edit-wrapper>