main {
  &:hover {
    .header {
      .img-container {
        &.open {
          width: 80%;
          img {
            right: 0%;
            transition: all ease 0.5s;
          }
        }

        &.closed {
          width: 80%;
          img {
            right: 0;
            transition: all ease 0.5s;
          }
        }
      }
    }
  }
}
.header {
  height: 120px;

  .img-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    justify-content: center;

    img {
      position: relative;
      object-fit: contain;
    }

    &.open {
      width: 80%;
      img {
        right: 0%;
        transition: all ease 0.5s;
      }
    }

    &.closed {
      width: 0;
      img {
        right: 100%;
        transition: all ease 0.5s;
      }
    }
  }

  .drawer-btn {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: var(--white-blue);
      cursor: pointer;
    }

    &.open {
      mat-icon {
        transform: rotate(0deg);
        transition: all ease 0.5s;
      }
    }

    &.closed {
      mat-icon {
        transform: rotate(180deg);
        transition: all ease 0.5s;
      }
    }
  }
}
.main-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.logo-img {
  cursor: pointer;
}

.menu-title {
  align-items: center;
  height: 42px;
  padding-left: 12px;
  border-radius: 20px;
  font-size: 22px;
  white-space: nowrap;
  color: rgb(7, 106, 142);
}

.section-wrapper {
  display: inline-flex;
  padding: 5px 25px 5px 25px;
  position: relative;
  background: var(--dark-cian);
  color: white;
  font-weight: 500;
  border-radius: 0px 5px 5px 0;
}

ul {
  &.list-open {
    display: block;
  }

  &.list-closed {
    display: none;
  }
}

.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 54px;
  position: relative;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
  transition: all ease 0.2s;
  white-space: nowrap;
  .icon-img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .arrow-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

  &.sub {
    padding-left: 30px;
  }

  span {
    font-family: Poppins, Helvetica, "sans-serif" !important;
    color: var(--dark-gray);
    font-size: 15px;
    background: transparent;
    word-break: keep-all !important;
    word-wrap: nowrap !important;

    &.open {
      width: 100%;
      opacity: 1;
    }
    &.closed {
      opacity: 0;
      width: 0%;
    }
  }

  &.active {
    &::after {
      content: "";
      right: 0;
      position: absolute;
      width: 2px;
      background-color: var(--blue);
      height: 80%;
    }

    background-color: var(--white-blue);
    color: var(--blue);
  }

  &:hover {
    background-color: var(--white-blue);
    transition: all ease 0.2s;
    opacity: 0.9;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    .drawer-btn {
      width: 100%;
    }

    .img-container {
      display: none;
      &.open {
        width: 0;
        img {
          display: none;
          right: 0%;
          transition: all ease 0.5s;
        }
      }

      &.closed {
        width: 0;
        img {
          display: none;
          right: 100%;
          transition: all ease 0.5s;
        }
      }
    }
  }
}
