.img-container {
  height: 150px;
  img {
    object-fit: contain;
  }
}
.main-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-title {
  align-items: center;
  height: 42px;
  padding-left: 12px;
  border-radius: 20px;
  font-size: 22px;
  white-space: nowrap;
  color: rgb(7, 106, 142);
}

.section-wrapper {
  display: inline-flex;
  padding: 5px 25px 5px 25px;
  position: relative;
  background: var(--dark-cian);
  color: white;
  font-weight: 500;
  border-radius: 0px 5px 5px 0;
}

ul {
  &.list-open {
    display: block;
  }

  &.list-closed {
    display: none;
  }
}

.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 54px;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
  transition: all ease 0.2s;
  white-space: nowrap;
  .icon-img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .arrow-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

  &.sub {
    padding-left: 30px;
  }

  span {
    font-family: Poppins, Helvetica, "sans-serif" !important;
    color: var(--dark-green);
    font-size: 15px;
    background: transparent;
    word-break: keep-all !important;
    word-wrap: nowrap !important;

    &.open {
      width: 100%;
      opacity: 1;
      transition: all ease 0.2s;
    }
    &.closed {
      opacity: 0;
      width: 0%;
      transition: all ease 0.2s;
    }
  }

  &.active {
    background-color: var(--white-blue);
    color: var(--blue);
  }

  &:hover {
    background-color: var(--white-blue);
    transition: all ease 0.2s;
    opacity: 0.9;
  }
}
