<div class="flex justify-end mb-2">
  <button class="btn white mr-2" (click)="showFilters = !showFilters">
    <img class="icon-btn mr-2" [src]="'../../assets/svgs/circle.svg'" />Filtros
  </button>
  <button class="btn blue" (click)="register()">
    <img class="icon-btn mr-2" [src]="'../../assets/svgs/add.svg'" />Adicionar
  </button>
</div>
<mat-expansion-panel class="mat-elevation-z0" [expanded]="showFilters">
  <section class="flex justify-center mb-5 w-12/12 pt-10">
    <div>
      <filter
        [setControls]="filterControls"
        (emitFilterValue)="submitFilters($event)"
        (emitClearFilter)="clearFilters($event)"
      ></filter>
    </div>
  </section>
</mat-expansion-panel>
<main class="main-body">
  <div class="title mb-5">
    <h1>Usuários</h1>
  </div>

  <section>
    <app-table
      #appTable
      [tableData]="data"
      [isLoading]="isLoading"
      [options]="'Ações'"
      [pageSizeOptions]="[5, 10, 15]"
      [pageOptions]="{ pageIndex: 1, listLength: itemsCount }"
      [tableColumns]="displayedColumns"
      (sortData)="sortTable($event)"
      (changePageData)="changePage($event)"
      [isPageable]="true"
    >
      <ng-template #actions let-user="element">
        <button matTooltip="Editar" mat-icon-button (click)="edit(user.id)">
          <img class="icon-btn" [src]="'../../assets/svgs/edit.svg'" />
        </button>
        <button matTooltip="Deletar" mat-icon-button (click)="delete(user.id)">
          <img class="icon-btn" [src]="'../../assets/svgs/delete.svg'" />
        </button>
      </ng-template>
    </app-table>
  </section>
</main>
