.main-body {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px 30px 50px 30px;
  width: 100%;
  box-shadow: 0 0 20px 0 #4c577d05;
  min-width: 754px;
  position: relative;
  height: auto;
}

.content-body {
  background: #ffffff;
  border-radius: 10px;
  padding: 17px 12px 17px 12px;
  width: 100%;
  border: solid rgb(216, 216, 216) 1px;
  box-shadow: 0 0 20px 0 #4c577d05;
  position: relative;
  height: auto;
}

.header-body {
  width: 100%;
  display: flex;
  min-width: 754px;
  position: relative;
  padding: 0px 0px 24px 0px;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
