.centered-btns {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: var(--dark-blue);
  min-width: 110px;
  padding: 12px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  border: solid 1px rgb(231, 236, 238);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  min-height: 27px;

  &.white {
    background: white;
    color: #001f30;
  }

  &.red {
    background: red;
    color: white;
  }

  &.green {
    background: var(--green);
    color: white;
  }
  &.yellow {
    background: #e8b017;
    color: #0c2054;
  }

  &.blue {
    background: var(--blue);
    color: white;
  }

  &.gray {
    background: #828282;
    color: white;
  }

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    &:hover {
      opacity: none;
      transform: none;
    }
    opacity: 0.7;
    cursor: not-allowed;
  }
}
