:host {
  --dark-blue: rgba(27, 27, 58, 1);
  --dark-green: rgba(26, 94, 99, 1);
  --light-blue: rgba(34, 174, 209, 1);
  --light-green: rgba(24, 242, 178, 1);
  --white-smoke: rgba(247, 244, 243, 1);
}
