.title-card {
  display: inline-flex;
  padding: 5px 25px 5px 25px;
  position: relative;
  background: var(--dark-cian);
  color: white;
  font-weight: 500;
  left: -23px;
  border-radius: 3px 5px 5px 0;
}

.title {
  width: 100%;
  h1 {
    margin: 0;
    padding: 0;
    color: #303030;
    font-size: 2.2rem;
  }
  padding-bottom: 30px;
  border-bottom: solid 2px rgb(231, 236, 238);
}

.title-card::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid #0000;
  border-top-color: #2c6886;
  border-width: 9px 0 0 11px;
}
